<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
<div th:fragment="footer">
  <footer> <small>&copy; Copyright 2022, S&S . All rights reserved! </small> </footer>

  <div class="container">
  </div>
  <script type="text/javascript" th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lang.js}"></script>
</div>
</body>

</html>