<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <center>
            <a class="navbar-brand" href="/menu"> S&S</a>
        </center>
        <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

                <ul class="navbar-nav ml-auto">
                    <li class="navbar-text" th:text="Hello" sec:authorize="isAuthenticated()"></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" sec:authorize="hasRole('ROLE_EMPLOYEE')" style="color: #1e90ff"
                           th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                        <a class="nav-link" sec:authorize="hasRole('ROLE_CUSTOMER')" style="color: #91a8ff;"
                           th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                    </li>

                    <pre>                                                                                                                                                                  </pre>
                    <li class="nav-item">
                        <a th:href="@{/employee-register}"><img id="employee-register" th:text="  Register"></a>
                    </li>
                    <pre>  </pre>

                    <li class="nav-item">

                        <a th:href="@{/logout}"><img id="logout" th:text="SignOut"></a>
                    </li>
                    <pre> </pre>

                    <pre> </pre>
                    </br>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>

</html>