<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<center>
    <head th:replace="fragments/header :: header-css">
        <title>Insert Product</title>

    </head>


    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row">
            <meta charset="ISO-8859-1">
            <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
            <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        </div>
        <body>


<div class="container">
    <div class="starter-template">
        <h1 th:text="DOES_NOT_EXIST"></h1>

        <a href="/menu" th:text="HOME"></a>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
    </div>
</center>
</html>