<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer page</title>
</head>
<body>
<div class="container text-center">
    <div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>
<h2>Customer page</h2>
<a href="/view-products"><input type="button" value="View products"></a>
<br/>
<a href="/search-product-by-name"><input type="button" value="Search product by name"></a>
<br/>
<a href="/search-product-by-category"><input type="button" value="Search product by category"></a>
<br/>
<a href="/buy-something-form"><input type="button" value="Buy something"></a>
<br/>
</body>
</html>