<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<a href="/menu"><input type="submit" value="Home" /></a><br><br>
<h1>Edit product</h1>
<form th:action="@{/product-update/{id}(id=${product.id})}" method="post" th:object="${product}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}"></td>
            <td th:if="#{field.hasErrors('name')}" th:errors="*{name}">Error in name!</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input th:field="*{price}"></td>
            <td th:if="#{field.hasErrors('price')}" th:errors="*{price}">Error in price!</td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input th:field="*{quantity}"></td>
            <td th:if="#{field.hasErrors('quantity')}" th:errors="*{quantity}">Error in quantity!</td>
        </tr>
        <tr>
            <td>Type product id:</td>
            <td><input th:type="number" th:field="*{typeProduct.id}"></td>
            <td th:if="#{field.hasErrors('typeProduct.id')}" th:errors="*{typeProduct.id}">Error in product type id!</td>
        </tr>
        <tr>
            <td>Expires in:</td>
            <td><input th:type="date" th:field="*{expiresIn}"></td>
            <td th:if="#{field.hasErrors('expiresIn')}" th:errors="*{expiresIn}">Error in expiresIn!</td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>

    </table>
</form>
</body>
</html>