<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee page</title>
</head>
<body>
<h2>Employee page</h2>
<a href="/product-management-form"><input type="button" value="Product management"></a>
<a href="/sort-products"><input type="button" value="Sort product"></a>

</body>

<br>
<div class="container text-center">
    <div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>

</html>