<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee page</title>
</head>
<body>
<div class="container text-center">
    <div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>
<h2>Employee page</h2>
<a href="/product-management-form"><input type="button" value="Product management"></a>
<br/>
<a href="/sort-products"><input type="button" value="Sort product"></a>
<br/>
<a href="/search-specific-product-form"><input type="button" value="Printing a specific product"></a>
<br/>
<a href="/search-by-price-greater-than"><input type="button" value="Search for products with a higher or equal price"></a>
<br/>
<a href="/search-by-price-less-than"><input type="button" value="Search for products with lower price"></a>
<br/>
<a href="/search-by-quantity-greater-than"><input type="button" value="Search for products with a higher or equal quantity"></a>
<br/>
<a href="/search-by-quantity-less-than"><input type="button" value="Search for products with a lower quantity"></a>
<br/>
<a href="/sorting-employees"><input type="button" value="Sorting of employees"></a>
</body>
</html>