<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Welcome to S&S Shop!</h2>
<p>You are?</p>
<a href="/login"><input type="button" value="Customer"></a>
<a href="/login"><input type="button" value="Employee"></a>
</body>
</html>