<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert type product</title>
</head>
<body>
<a href="/employees"><input type="submit" value="Home" /></a>
<h2>Insert type product</h2>
<form action="#" th:action="@{/insert-type-product-form}" th:object="${typeProduct}" method="post">
  <table>
    <tr>
      <td>Type:</td>
      <td><input th:field="*{type}"></td>
      <td th:if="#{field.hasErrors('type')}" th:errors="*{type}">Error in type!</td>
    </tr>
      <tr>
          <td><input type="submit" value="Save"></td>
      </tr>
  </table>
</form>
<br>
<br>
<div class="container text-center">
    <div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>

</body>
</html>