<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert type product</title>
</head>
<body>
<a href="/menu"><input type="submit" value="Home" /></a>
<a href="/product-management-form"><input type="submit" value="Back" /></a>
<h2>Insert type product</h2>
<form action="#" th:action="@{/insert-type-product-form}" th:object="${typeProduct}" method="post">
  <table>
    <tr>
      <td>Name:</td>
      <td><input th:field="*{name}"></td>
      <td th:if="#{field.hasErrors('name')}" th:errors="*{name}">Error in name!</td>
    </tr>
      <tr>
          <td><input type="submit" value="Save"></td>
      </tr>
  </table>
</form>

</body>
</html>