<!DOCTYPE html>
<html lang="en">
<center>
    <title>Menu</title>

    <head th:replace="fragments/header :: header-css">
    </head>


    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row">
            <meta charset="ISO-8859-1">
            <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
            <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        </div>
        <body>
        <div class="container text-center">
        </div>
        <h2>Menu</h2>
        <a href="/product-management-form"><input type="button" value="Product management"
                                                  sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/>
        <a href="/view-products"><input type="button" value="View products"
                                        sec:authorize="hasRole('ROLE_CUSTOMER')"></a>
        <br/>
        <a href="/sort-products"><input type="button" value="Sort product" sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/>
        <a href="/search-product-by-name"><input type="button" value="Search product by name"
                                                 sec:authorize="hasRole('ROLE_CUSTOMER')"></a>
        <br/>
        <a href="/search-specific-product-form"><input type="button" value="Printing a specific product"
                                                       sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/>
        <a href="/search-product-by-category"><input type="button" value="Search product by category"
                                                     sec:authorize="hasRole('ROLE_CUSTOMER')"></a>
        <br/>
        <a href="/search-by-price-greater-than"><input type="button"
                                                       value="Search for products with a higher or equal price"
                                                       sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/>
        <a href="/buy-something-form"><input type="button" value="Buy something"
                                             sec:authorize="hasRole('ROLE_CUSTOMER')"></a>
        <br/>
        <a href="/search-by-price-less-than"><input type="button" value="Search for products with lower price"
                                                    sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/>
        <a href="/orders"><input type="button" value="Orders" sec:authorize="hasRole('ROLE_TEST')"></a>
        <br/>
        <a href="/search-by-quantity-greater-than"><input type="button"
                                                          value="Search for products with a higher or equal quantity"
                                                          sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/>
        <br/>
        <a href="/search-by-quantity-less-than"><input type="button" value="Search for products with a lower quantity"
                                                       sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/>
        <br/>
        <a href="/sorting-employees"><input type="button" value="Sorting of employees"
                                            sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/>
        <br/>
        <a href="/orders"><input type="button" value="See orders" sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        <br/><br><br><br><br>

        <div th:replace="fragments/footer :: footer"></div>

        </body>
    </div>
</center>

</html>