<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<center>
    <title>Orders</title>

    <head th:replace="fragments/header :: header-css">
    </head>


    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row">
            <meta charset="ISO-8859-1">
            <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
            <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        </div>
    </div>
    <body>


    <div class="container text-center">

        <div>
            <br/>
            <h1>Orders</h1>
        </div>

        <td>
            <a th:href="@{/filter-orders-by-status-new}"><input type="submit" value="Filter by status 'New'"
                                                                sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
            <a th:href="@{/filter-orders-by-status-processed}"><input type="submit" value="Filter by status 'Processed'"
                                                                      sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
            <a th:href="@{/filter-orders-by-status-sent-by-courier}"><input type="submit"
                                                                            value="Filter by status 'Sent by courier'"
                                                                            sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
            <a th:href="@{/filter-orders-by-status-completed}"><input type="submit" value="Filter by status 'Completed'"
                                                                      sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
            <a th:href="@{/orders}"><input type="submit" value="All orders"
                                           sec:authorize="hasRole('ROLE_EMPLOYEE')"></a>
        </td>

        <div>

            </br>

            <div>

                </br>

                <table class="table table-striped table-bordered">

                    <thead class="thead-dark">
                    <tr>
                        <th>Order id</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="order: ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.price}"></td>
                        <td th:text="${#dates.format(order.date, 'HH:mm dd-MM-yyyy')}"></td>
                        <td>
                            <form th:action="@{/order-status-update/{id}(id=${order.id})}" th:object="${order}"
                                  method="post">
                                <p th:text="${order.status}"></p>
                                <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
                                    <select th:field="*{status}">
                                        <option th:each="status : ${T(com.example.demo.Status).values()}"
                                                th:value="${status}" th:text="${status.displayValue}"></option>
                                    </select>
                                    <input type="submit" value="Save" sec:authorize="hasRole('ROLE_EMPLOYEE')">
                                </div>
                            </form>
                        </td>
                        <td>
                            <a th:href="@{/order-details/{id}(id=${order.id})}"><input type="button"
                                                                                       value="Order details"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br/><br><br><br><br>

    <div th:replace="fragments/footer :: footer"></div>

    </body>
</center>
</html>