<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">

    <div>
        <br/>
        <h1>Orders</h1>
    </div>

    <div class="table-responsive">
        <table class="table align-middle">
        </table>
    </div>


<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Order id</th>
            <th>Price</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order: ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.date}"></td>
            <td>
                <a th:href="@{/order-details/{id}(id=${order.id})}"><input type="button" value="Order details"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <td><a href="/customer-form"><input type="submit" value="Home" /></a></td>
</div>
</div>
</body>
</html>