<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product success</title>
</head>
<body>
<a href="/employees"><input type="submit" value="Home" /></a>
<h2>Successful product introduction</h2>
<p th:text="'Name: '+${product.name}"/>
<p th:text="'Price: '+${product.price}"/>
<p th:text="'Quantity: '+${product.quantity}"/>
<p th:text="'Type product id: '+${product.getTypeProduct().getId()}"/>
<p th:text="'Expires in: '+${product.expiresIn}"/>
<a href="/insert-product-form">Submit another product</a>
</body>

</html>