<!DOCTYPE html>
<html lang="en">
<center>
    <title>Search by category</title>

    <head th:replace="fragments/header :: header-css">
    </head>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row">
            <meta charset="ISO-8859-1">
            <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
            <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        </div>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </div>

    <body>
    <br><br>
    <h1>Search product by category</h1>
    <br>
    <form action="#" th:action="@{/printing-product-by-category/{name}(id=${typeProduct.name})}"
          th:object="${typeProduct}" method="get">
        <table>
            <tr>
                <td>Product category:</td>
                <td>
                    <select  th:field="*{name}">
                        <option th:each="type : ${typeProducts}"
                                th:value="${type.name}" th:text="${type.name}"></option>
                    </select>
                </td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </table>
    </form>
    <br><br><br>

    <div th:replace="fragments/footer :: footer"></div>
    </body>
</center>
</html>