<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search quantity</title>
</head>
<body>
<a href="/menu"><input type="submit" value="Back" /></a>
<h1>Search quantity</h1>
<form action="#" th:action="@{/printing-by-greater-quantity/{quantity}(id=${product.quantity})}" th:object="${product}" method="get">
    <table>
        <tr>Product quantity: </tr>
        <tr><input th:field="*{quantity}"></tr>
        <td><input type="submit" value="Search"> </td>
    </table>
</form>
</body>
</html>