<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<center>
    <title>Search product by name</title>

    <head th:replace="fragments/header :: header-css">
    </head>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row">
            <meta charset="ISO-8859-1">
            <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
            <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        </div>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </div>
    <body>
    <h1>Search product by name</h1>
    <form action="#" th:action="@{/printing-product-by-name/{name}(id=${product.name})}" th:object="${product}"
          method="get">
        <table>
            <tr>Product name:</tr>
            <tr><input th:field="*{name}"></tr>
            <td><input type="submit" value="Search"></td>
        </table>
    </form>
    <br><br><br><br>

    <div th:replace="fragments/footer :: footer"></div>
    </body>
</center>
</html>