<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search product by category</title>
</head>
<body>
<a href="/customer-form"><input type="submit" value="Home" /></a>
<h1>Search product by category</h1>
<form action="#" th:action="@{/printing-product-by-category/{name}(id=${typeProduct.name})}" th:object="${typeProduct}" method="get">
    <table>
        <tr>Product category: </tr>
        <tr><input th:field="*{name}"></tr>
        <td><input type="submit" value="Search"> </td>
    </table>
</form>
</body>
</html>