<!DOCTYPE html>
<html lang="en">
<center>
    <title>Wrong specific name</title>

    <head th:replace="fragments/header :: header-css">
    </head>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row">
            <meta charset="ISO-8859-1">
            <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
            <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        </div>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </div>
    <body>
    <h2> This product does not exist ! </h2>
    <h1><a href="/search-specific-product-form">Try again!</a></h1>
    <br><br><br><br>

    <div th:replace="fragments/footer :: footer"></div>
    </body>
</center>
</html>